#lb0 
{
    position:absolute;
    top: 225px;
    left: 362px;
    width: 425px;
    height: 46px;
    font-size:54px;
    text-align:center;
}

#ttb
{
    position:absolute;
    top: 331px;
    left: 106px;
    width: 1007px;
}
